.unlimited-prey-form {
    .current-position {
        margin-top: -1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .checkbox {
        margin-top: 1.75rem;
    }

    .button {
        margin-top: 1.75rem;
        margin-bottom: 1rem;
    }
}
