.language-select-page {
    flex: 1;
    margin: 2.375rem 2.25rem 2.5rem 2.25rem;

    .title {
        text-align: center;
    }

    .segmented-control {
        margin-top: 1.165rem;
    }

    .button {
        margin-top: 2.5rem;
    }
}
