.profile-photo-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background: url(../../assets/images/user-photo-placeholder.svg) no-repeat;

    &:focus {
        border: 1px solid var(--green-active);
    }

    .profile-photo-select__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: white;

        svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--gray-800);
        }
    }

    .profile-photo-select__title {
        margin: 1.375rem 0 0 0;
        font-family: "IBM Plex Sans Bold";
        font-size: 1.125rem;
        text-align: center;
        color: var(--gray-800);
    }
}
