.track-position--loading {
    @keyframes blink {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }

    .target-background_svg__center {
        animation: blink 1s infinite;
    }
}
